.styled_box {
    height: 80px;
    width: 500px;
}
span {
    font-size: small;
}
body {
    font-family: sans-serif;
    text-align: left;
}
input[type=submit] {
    background-color: #50C878;
    width: 500px;
}
.box {
    padding: 40px;
}
form {
    border: 5px solid #50C878;
}
.align {
    padding: 15px;
}
